@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


.main {
    min-height: calc(100vh - 64px);
}

.child_main {
    height: calc(100vh - 64px);
    background-color: rgba(0, 0, 0, 0.605);
}

.child_main1 {
    height: calc(100vh - 64px);
}

.right_arrow_image {
    text-shadow: 0px 0px 5px 10px black;

}

.project_text {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
    text-shadow: 0px 1px 5px black;
    letter-spacing: 1px;
    font-size: small;
}

.project_text_child {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
    text-shadow: 0px 1px 5px black;
    letter-spacing: 1px;
    font-size: 12.5px;
}


.project_name_drop_down::-webkit-scrollbar {
    width: 13px;
    color: aqua;
    border:none;
    height: 50vh;
}

.project_name_drop_down::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
} 

.project_name_drop_down::-webkit-scrollbar-thumb {
    background-color: rgba(72, 72, 72, 0.24); 
    border: none; 
    color:bisque;
}

.textarea_scroll::-webkit-scrollbar {
    display: none; /* Width for the horizontal scrollbar (optional, can be modified) */
  }
  
  .textarea_scroll::-webkit-scrollbar-track {
    background-color: rgb(30,41,59); /* Scrollbar track background */
  }
  
  .textarea_scroll::-webkit-scrollbar-thumb {
    background-color: rgb(72, 72, 72); /* Scrollbar thumb color */
  }
  


.plus_sign {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
    text-shadow: 0px 1px 5px black;
    letter-spacing: 1px;
}

.text {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
    text-shadow: 0px 1px 5px black;
    letter-spacing: 1px;
    font-size: 13px;
}

.textarea {
    border-color: rgba(255, 255, 255, 0.158);
    scrollbar-width: none;
}

.gridChild {
    justify-self: center;
    align-self: flex-end;
}
