@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


.main {
    min-height: calc(100vh - 64px);
}

.child_main {
    height: calc(100vh - 64px);
    background-color: rgba(0, 0, 0, 0.605);
}

.child_main1 {
    height: calc(100vh - 64px);
}

.right_arrow_image {
    text-shadow: 0px 0px 5px 10px black;

}

.project_text {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 1px 5px black;
    letter-spacing: 1px;
    font-size: small;
}

.project_text_child {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 1px 5px black;
    letter-spacing: 1px;
    font-size: 12.5px;
}

.child_main1::-webkit-scrollbar {
    width:13px;
    border:none;
    height: 50vh;
}

.child_main1::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.child_main1::-webkit-scrollbar-thumb {
    background-color: rgba(79, 79, 79, 0.47);
    border-radius: 10px;
}

.project_name_drop_down::-webkit-scrollbar {
    width: 13px;
    color: aqua;
    border: none;
    height: 50vh;
}

.project_name_drop_down::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.project_name_drop_down::-webkit-scrollbar-thumb {
    background-color: rgba(72, 72, 72, 0.24);
    border: none;
    color: bisque;
}

.textarea_scroll::-webkit-scrollbar {
    display: none;
}

.textarea_scroll::-webkit-scrollbar-track {
    background-color: rgb(30, 41, 59);
    /* Scrollbar track background */
}

.textarea_scroll::-webkit-scrollbar-thumb {
    background-color: rgb(72, 72, 72);
    /* Scrollbar thumb color */
}



.plus_sign {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 1px 5px black;
    letter-spacing: 1px;
}

.text_style {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 1px 5px black;
    letter-spacing: 1px;
    font-size: 13px;
}

.textarea {
    border-color: rgba(255, 217, 0, 0.066);
    scrollbar-width: none;
    font-size: 14px;
}

.gridChild {
    justify-self: center;
    align-self: flex-end;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 1px 5px black;
    letter-spacing: 1px;
    font-size: 13px;
}